@import "tailwindcss";

@theme {
  /* Cores Principais */
  --color-primary: #2E7D32;
  --color-secondary: #1976D2;
  --color-accent: #FFC107;
  
  /* Cores de Interface */
  --color-dark: #1A1A1A;
  --color-light: #F5F5F5; 
}

@layer base {
  h1 {
    @apply text-5xl font-bold tracking-tight;
  }

  h2 {
    @apply text-3xl font-semibold;
  }

  h3 {
    @apply text-xl font-semibold;
  }

  p {
    @apply text-lg leading-relaxed;
  }
}

@layer components {
  .section {
    @apply py-24;
  }

  .container {
    @apply max-w-6xl mx-auto px-6
  }
}